.c-contact {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;


    &__adress {
        width: 343px;
        height: 256px;
        color: #ffffff;
        font-size: 16px;
        font-weight: 300;
        line-height: 24px;
    }

    &__info {
        margin-bottom: 20px;
    }

    &__phone {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        
        & b {
            font-weight: 700;
        }
    }

    &__email {
        display: flex;
        flex-direction: column;

        & b {
            font-weight: 700;
        }
    }
}


// media queries
// screen < 1024px
@mixin c-contact\@screen_wide {

    .c-contact {
        flex-direction: column;
        width: 80%;

        &__adress {
            margin: 30px;
        }

        &__map {
            margin-bottom: 30px;

            & img {
                width: 100%;
            }
        }

    }
}