.c-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    &--about {
        max-width: 1110px;
        width: 100%;
        background-color: #ffffff;
        padding: 60px 0;
    }

    &--info {
        width: 760px;
        text-align: center;
        color: #222222;
        font-weight: 400;
    }

    &__title {
        color: #444444;
        font-family: "Roboto Slab";
        font-size: 40px;
        font-weight: 400;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 84px;
    }

    &__subtitle {
        color: #222222;
        font-family: Roboto;
        font-size: 20px;
        font-weight: 300;
        line-height: 28px;
        max-width: 722px;
        width: 100%;
        margin-bottom: 70px;
        text-align: justify;
    }

    &__text {
        color: #222222;
        font-family: "Roboto-thin";
        font-size: 36px;
        font-weight: 400;
        letter-spacing: 0.18px;
    }

}



// media queries
// screen <  1024px
@mixin c-header\@screen_wide{
    .c-header {

        &__subtitle {
            width: 75%;
        }
    }
}