.c-moonspeak {
    display: flex;
    align-items: center;

    &__pic {
        & img {
            width: 100%;
        }
    }

    &__text {
        height: 400px;
        max-width: 300px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 130px;
    }

    &__title {
        color: #290a59;
        font-size: 14px;
        letter-spacing: 5.6px;
        text-transform: uppercase;
    }

    &__subtitle {
        color: #6d6081;
        font-size: 14px;
    }
}


// media queries
//screen < 1024px
@mixin c-moonspeak\@screen_wide {
    .c-moonspeak {
        flex-direction: column;

        &__text {
            text-align: center;
            padding: 50px 0;
            order: -1;
            margin-left: 0;
        }

        &__title {
            margin-bottom: 12px;
        }

        &__pic {
            height: 80%;
        }
    }
}