.c-menu {

    color: #222222;
    font-family: Roboto;

    &__list {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__link {
        font-weight: 400;
        line-height: 23px;
        text-transform: uppercase;
        padding: 10px;
        border-radius: 5px;
        transition: .4s all ease-in-out;
        position: relative;

        // &:hover {
        //     background-color: royalblue;
        // }


        &::before,
        &::after {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            height: 2px;
            background-color: #fc2f70;
            transform: scaleX(0);
            transition: transform 0.5s ease;
        }

        &::before {
            top: 0;
            transform-origin: center right;
        }

        &:hover::before {
            transform-origin: center left;
            transform: scaleX(1);
        }

        &::after {
            bottom: 0;
            transform-origin: center left;
        }

        &:hover::after {
            transform-origin: center right;
            transform: scaleX(1);
        }

    }

    &__item {
        font-size: 10px;
        letter-spacing: 4px;

        &:nth-child(3) {
            font-size: 24px;
            letter-spacing: 9.6px;
        }
    }
}